@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #e8ecee;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif !important;
  }
}

.heading-font {
  font-family: 'Cinzel', serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}